body {
    font-family: "Yusei-magic", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #293A49;
    letter-spacing: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    max-width: 1050px;
    margin: 0 auto;
}

.logo-text {
    float: left;
    text-transform: uppercase;
}

.logo-text a {
    text-decoration: none;
    color: #293A49;
    padding-left: 10px;
}

.logo-image {
    height: 40px;
    width: auto;
    float: left;
    margin-left: 40px;
    margin-top: 3px;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a {
    text-decoration: none;
    color: #293A49;
}

nav {
    background-color:#FFDB05;
    height: 50px;
    padding: 15px;
}