body {
    font-family: "Yusei-magic", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #293A49;
    letter-spacing: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    background-color:#FFDB05;
}

/*** HEADER ***/

.logo-text {
    float: left;
    text-transform: uppercase;
}

.logo-text a {
    text-decoration: none;
    color: #293A49;
    padding-left: 10px;
}

.logo-image {
    height: 40px;
    width: auto;
    float: left;
    margin-left: 40px;
    margin-top: 3px;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a {
    text-decoration: none;
    color: #293A49;
}

nav {
    height: 50px;
    padding: 15px;
}

/* MAIN CONTENT */

.title-contents {
    width: 1000px;
    padding-left: 50px;
}

.lil-title {
    font-weight: 500;
    margin-bottom: 1px;
}

.main-title {
    font-size: 50px;
    font-weight: 700;
}

.table {
    display: flex;
    flex-wrap: wrap-reverse;
    padding-left: 30px;
}

.table ul {
    list-style: none;
}

.table-item {
    width: 500px;
    display: flex;
    padding: 30px;
}